<!DOCTYPE html>
<html>
<head>
    <title>Gençler İçin Sınav</title>
    <style>
        body {
            position: relative;
            min-height: 100vh;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Gençler İçin Sınav</h1>
    <form id="quizForm">
       
        <h2>Soru 1: Adınız nedir?</h2>
        <input type="text" name="username">

        
        <h2>Soru 2: En sevdiğiniz renk hangisidir?</h2>
        <input type="radio" name="question1" value="red"> Kırmızı<br>
        <input type="radio" name="question1" value="blue"> Mavi<br>
        <input type="radio" name="question1" value="green"> Yeşil<br>

        
        <h2>Soru 3: En sevdiğiniz hayvan hangisidir?</h2>
        <input type="radio" name="question2" value="dog"> Köpek<br>
        <input type="radio" name="question2" value="cat"> Kedi<br>
        <input type="radio" name="question2" value="parrot"> Papağan<br>

       
        <h2>Soru 4: Hobileriniz veya ilgi alanlarınız neler?</h2>
        <textarea name="question3" rows="4" cols="50"></textarea>

        <br>
        <input type="submit" value="Cevapları Gönder">
    </form>

    
    <div id="bestScore" style="position: absolute; top: 10px; right: 10px;">
        <p>En Yüksek Puan : 0%</p>
    </div>

   
    <footer>
        Geliştirici: Muharrem Osman TOPAKKAYA
    </footer>

    <script>
        var quizForm = document.getElementById('quizForm');
        var bestScoreDisplay = document.getElementById('bestScore');

        var highestScore = 0;

        quizForm.addEventListener('submit', function(event) {
            event.preventDefault(); 

            
            var score = calculateScore();

            
            if (score > highestScore) {
                highestScore = score;
                bestScoreDisplay.innerHTML = "<p>En Yüksek Puan : " + highestScore + "%</p>";
            }

            
            alert("Senin Puanın: " + score + "%");
        });

        function calculateScore() {
            
            var username = document.getElementsByName('username')[0].value;
            var question1Answer = document.querySelector('input[name="question1"]:checked');
            var question2Answer = document.querySelector('input[name="question2"]:checked');
            var question3Answer = document.getElementsByName('question3')[0].value;

            
            var score = 0;
            if (question1Answer && question1Answer.value === "red") {
                score += 25;
            }
            if (question2Answer && question2Answer.value === "dog") {
                score += 25;
            }
            if (question3Answer.trim() !== "") {
                score += 25;
            }
            if (username.trim() !== "") {
                score += 25;
            }

            return score;
        }
    </script>
</body>
</html>

<a href="http://127.0.0.1:5000/">Ana Sayfaya Geri Dön</a>
